body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    min-height : 100vh ;
}

.Slide {
    border : 1px solid black ;
    border-radius : 15px ;
    padding : 15px ;
}

.show {
    display : iniherit ;
}

.hide {
    display : none ;
}

h1 {
    font-size : 1.5rem ;
}